@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap');

* {
    padding:0;
    margin:0;
    font-family:Alegreya, sans-serif;
}

#content {
    background-image: url("https://cdn.vox-cdn.com/thumbor/R0hTdBdQX2YhELVFtnwQN0EqCF4=/0x0:6376x4251/1200x675/filters:focal(2678x1616:3698x2636)/cdn.vox-cdn.com/uploads/chorus_image/image/72204781/Eater_HungryEyes_April2023_24__1_.0.jpg");
    background-size: cover;
    height:100vh;
    width:100vw;
    display:flex;
    flex-direction: column;
}

header ul {
    display:flex;
    gap:10%;
    margin:40px 0 0 0;
    list-style-type: none;
    justify-content: center;
}
header ul li {
    text-transform: uppercase;
    font-size:24px;
    color:white;
    font-weight:lighter;
    letter-spacing: 2px;
    padding:15px;
    transition: all 0.1s ease;
}
li:hover {
    cursor:pointer;
    background-color:white;
    color:black;
    mix-blend-mode: lighten;
}

.hero-text {
    display:flex;
    flex-direction: column;
    height:75vh;
    justify-content: center;
    align-items: center;
    color:white;
    text-transform: uppercase;
}

h1 {
    font-size: 92px;
    font-weight: normal;
    letter-spacing: -3px;
}

h2 {
    text-transform: lowercase;
    font-weight:normal;
    font-size:36px;
    margin-bottom:15px;
    margin-top:-15px;
}

.hero-text button {
    border:none;
    padding:15px;
    font-size:24px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color:white;
    color:black;
    mix-blend-mode: lighten;
    font-weight:lighter;
    transition:0.1s ease all;
}

.hero-text button:hover {
    cursor:pointer;
    color:black;
    transform:scale(1.1);
}