@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap');

* {
    padding:0;
    margin:0;
    font-family:Alegreya, sans-serif;
}

#content {
    background-image: url("https://cdn.vox-cdn.com/thumbor/R0hTdBdQX2YhELVFtnwQN0EqCF4=/0x0:6376x4251/1200x675/filters:focal(2678x1616:3698x2636)/cdn.vox-cdn.com/uploads/chorus_image/image/72204781/Eater_HungryEyes_April2023_24__1_.0.jpg");
    min-height:100vh;
    width:100vw;
    display:flex;
    flex-direction: column;
}

header ul {
    display:flex;
    gap:10%;
    margin:40px 0 0 0;
    list-style-type: none;
    justify-content: center;
}
header ul li {
    text-transform: uppercase;
    font-size:24px;
    color:white;
    font-weight:lighter;
    letter-spacing: 2px;
    padding:15px 15px 10px 15px;
    transition: all 0.1s ease;
    border-bottom:5px solid transparent;
    text-shadow: 10px 10px 20px rgba(0,0,0,0.39);
    -webkit-text-shadow: 10px 10px 20px rgba(0,0,0,0.39);
    -moz-text-shadow: 10px 10px 20px rgba(0,0,0,0.39);
}
li:hover {
    cursor:pointer;
    background-color:white;
    color:black;
    mix-blend-mode: lighten;
}
.active {
    padding-bottom:10px;
    border-bottom:5px solid white;
}

#home {
    display:flex;
    flex-direction: column;
    height:75vh;
    justify-content: center;
    align-items: center;
    color:white;
    text-transform: uppercase;
}

#home h1 {
    font-size: 92px;
    font-weight: normal;
    letter-spacing: -3px;
    text-shadow: 10px 10px 20px rgba(0,0,0,0.39);
    -webkit-text-shadow: 10px 10px 20px rgba(0,0,0,0.39);
    -moz-text-shadow: 10px 10px 20px rgba(0,0,0,0.39);
}

#home h2 {
    text-transform: lowercase;
    font-weight:normal;
    font-size:36px;
    margin-bottom:15px;
    margin-top:-15px;
    text-shadow: 10px 10px 20px rgba(0,0,0,0.39);
    -webkit-text-shadow: 10px 10px 20px rgba(0,0,0,0.39);
    -moz-text-shadow: 10px 10px 20px rgba(0,0,0,0.39);
}

#home button {
    border:none;
    padding:15px 15px 10px 15px;
    font-size:24px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color:transparent;
    color:white;
    font-weight:lighter;
    transition:0.1s ease all;
    border-bottom:5px solid white;
    text-shadow: 10px 10px 20px rgba(0,0,0,0.39);
    -webkit-text-shadow: 10px 10px 20px rgba(0,0,0,0.39);
    -moz-text-shadow: 10px 10px 20px rgba(0,0,0,0.39);
}

#home button:hover {
    cursor:pointer;
    background-color:white;
    color:black;
    mix-blend-mode: lighten;
    border-bottom:5px solid transparent;
}

#menu {
    background-color:transparent;
    padding:15px 50px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:15px;
}

.menu-item {
    flex:1;
    background-color: white;
    display:flex;
    height:200px;
    min-width:450px;
    box-shadow: 10px 10px 20px -1px rgba(0,0,0,0.39);
    -webkit-box-shadow: 10px 10px 20px -1px rgba(0,0,0,0.39);
    -moz-box-shadow: 10px 10px 20px -1px rgba(0,0,0,0.39);
}
.menu-desc {
    padding:15px;
    display:flex;
    flex-direction: column;
}

.menu-img {
    height:200px;
}

.menu-name {
    text-transform: uppercase;
    font-size:24px;
    color:black;
    font-weight:lighter;
    letter-spacing: 2px;
    margin-bottom:15px;
}

.menu-price {
    margin-top:auto;
}

form {
    background-color:transparent;
    display:flex;
    flex-direction: column;
    margin:15px 50px;
    height: 500px;
}

form label {
    text-transform: uppercase;
    font-size:24px;
    color:white;
    font-weight:lighter;
    letter-spacing: 2px;
    margin-bottom:5px;
    text-shadow: 10px 10px 20px rgba(0,0,0,0.39);
    -webkit-text-shadow: 10px 10px 20px rgba(0,0,0,0.39);
    -moz-text-shadow: 10px 10px 20px rgba(0,0,0,0.39);
}
form input, form textarea {
    margin-bottom:20px;
}

form input[type="text"] {
    outline:none;
    padding:15px;
    font:inherit;
    font-size:16px;
    border:none;
    box-shadow: 10px 10px 20px -1px rgba(0,0,0,0.39);
    -webkit-box-shadow: 10px 10px 20px -1px rgba(0,0,0,0.39);
    -moz-box-shadow: 10px 10px 20px -1px rgba(0,0,0,0.39);
}

form textarea {
    font-size:16px;
    outline:none;
    padding:15px;
    height:250px;
    border:none;
    box-shadow: 10px 10px 20px -1px rgba(0,0,0,0.39);
    -webkit-box-shadow: 10px 10px 20px -1px rgba(0,0,0,0.39);
    -moz-box-shadow: 10px 10px 20px -1px rgba(0,0,0,0.39);
}

form input[type="submit"] {
    border:none;
    padding:15px 15px 10px 15px;
    font-size:24px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: transparent;
    color:white;
    font-weight:lighter;
    transition:0.1s ease all;
    border-bottom: 5px solid white;
    text-align: left;
    text-shadow: 10px 10px 20px rgba(0,0,0,0.39);
    -webkit-text-shadow: 10px 10px 20px rgba(0,0,0,0.39);
    -moz-text-shadow: 10px 10px 20px rgba(0,0,0,0.39);
}

form input[type="submit"]:hover {
    cursor:pointer;
    background-color: white;
    color:black;
    mix-blend-mode: lighten;
    border-bottom:5px solid transparent;
    box-shadow: 10px 10px 20px -1px rgba(0,0,0,0.39);
    -webkit-box-shadow: 10px 10px 20px -1px rgba(0,0,0,0.39);
    -moz-box-shadow: 10px 10px 20px -1px rgba(0,0,0,0.39);
}